# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.venv/
*/bin/
*/include/
*/lib/python*/
*.egg-info/
.poetry/
.idea/ # PyCharm specific files

# Logs
*.log
logs/

# Database
*.sqlite3
*.db

# Scrapy output files
data/*.json

# Scrapy logs
scrapy.log

# Config files (IMPORTANT: config.ini contains sensitive data!)
config.ini

# Virtual environment (Poetry)
.venv/

